@import "variables";

* {
  color: $white;
  margin: 0;
  padding: 0;
}

html {
  font-size: 28px;
}

body {
  background: linear-gradient(to bottom, $trans-purple 0%, $trans-blue 100%) no-repeat, url("../static/backgroundImg/bgImg.png") no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 1rem 1rem 0;
}
