@import "../variables";

button {
  border: 1px solid $white;
  border-radius: 70px;
  font-size: 1.75rem;
  height: 130px;
  margin: .5rem 0;
  text-transform: uppercase;
  width: 380px;
}

.black {
  background: $black;
  border: 0;
}

.trans {
  background: transparent;
}
